*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-heading{
  text-align: center;
  margin-bottom: 100px;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  height: 80vh;
  width: 50vw;
  background-color: darkgray;
}

.input-div{
  padding: 2vh;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-section{
  height: 20vh;
  width: 50vw;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
  font-size: 5vh;
}

.btn-section{
  background-color: darkgray;
}

.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btns{
  height: 10vh;
  width: 10vw;
  margin: 1vh;
  border: none;
  border-radius: 5px;
  font-size: 7vh;
  font-weight: bold;
  cursor: pointer;
}

.bg-orange{
  background-color: orangered;
}

.btns:hover{
  font-size: 8vh;
}

.btns:active{
  background-color: orangered;
}

.bg-orange:active{
  background-color: darkgray;
}

.corner-left{
  display: flex;
  justify-content: right;
  padding: 0.7vw;
}